<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazing app to help you find nearest MBTA station</title>
</head>
<body>

<h1>Find MBTA Station Near You!</h1>
<form method="POST" name="calculator">
    {% if error %}
    <p style='color:darkred'>Error: Please enter a different destination</p>
    {% endif %}
    <p>
        Enter a destination:
    </p>
    <p>
        <input type="text" name='place_name'>
    </p>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>





</body>
</html>
